@media (min-width: 800px) {
  body {
    margin: 20px 0 0;
  }
  .Body {
    max-height: 1300px;
  }
  #Navbar {
    position: fixed;
    top: 10px;
    left: 0;
  }
  .navbar {
    padding: 0;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  .navbar-links ul button {
    display: none;
  }
  .navbar-links ul {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  .navbar-links ul li a {
    color: white;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li:hover {
    cursor: pointer;
    color: black;
    background: white;
  }
  .navbar-links ul li a:hover {
    color: black;
  }
  .desktop {
    display: flex;
  }
  .focus-image {
    margin: 40px 0 0;
  }
  .search-bar-container {
    display: none;
  }
  .desk-1 {
    position: relative;
    width: 32%;
    left: 300px;
  }
  .founder {
    position: relative;
    bottom: 1290px;
    width: 30%;
    left: 700px;
    font-size: 10px;
    flex-direction: row;
    font-size: 10px;
  }
  .founder p {
    font-size: 12px;
  }
  .available-course {
    width: 31%;
    position: relative;
    bottom: 30px;
    left: 296px;
  }
  .photogallery {
    width: 30%;
    position: relative;
    bottom: 70px;
    left: 295px;
  }
  .calendar-container {
    width: 30%;
    padding: 0;
    margin: 0;
    align-items: mid;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 600px;
    left: 720px;
  }
  .react-calendar {
    max-height: 300px;
    width: 100%;
    z-index: 11;
  }
  .deep-link {
    width: 30%;
    position: relative;
    bottom: 570px;
    left: 700px;
  }
  .focus-red-image {
    width: 30%;
    position: relative;
    left: 296px;
    bottom: 1000px;
  }
  .slider-container {
    width: 30%;
    position: relative;
    bottom: 1050px;
    left: 296px;
  }
  .contacts {
    bottom: 1300px;
    width: 68%;
    position: relative;
    left: 292px;
  }
  .navbar-links ul li a.active-link {
    color: black;
  }
  .upExams {
    width: 44%;
    position: relative;
    left: 400px;
  }
  .upExams-div {
    overflow: hidden;
  }
  .upsc-ncert {
    width: 75%;
    position: relative;
    left: 255px;
    top: 100px;
    z-index: 11;
  }
  .exam-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .exam-card-container .exam-card {
    width: 100%;
    height: 130px;
    cursor: pointer;
  }
  .desk-top {
    display: block;
  }
  .ncert-class {
    margin-top: 100px;
    width: 50%;
    position: relative;
    left: 450px;
    z-index: 11;
  }
  .ncert-class h1 {
    color: #f35132;
    font-weight: 500;
  }
  .class-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .class-card-container div {
    height: 100px;
  }
  .current-affairs-page {
    padding: 40px;
    position: relative;
    top: 50px;
    left: 550px;
  }
  .article-content-page {
    width: 60%;
    position: relative;
    top: 70px;
    left: 350px;
  }
  .about {
    position: relative;
    top: 150px;
    left: 350px;
    width: 60%;
  }
  .magazines {
    width: 60%;
    position: relative;
    top: 100px;
    color: white;
    left: 100px;
    z-index: 11;
  }
  .magazines h1 {
    color: white;
  }
  .news-india {
    width: 60%;
    position: relative;
    top: 100px;
    left: 400px;
    z-index: 11;
  }
  .soon {
    margin: 200px 0 0 500px;
  }
  .Four-o-Four {
    position: relative;
    bottom: 100px;
    left: 100px;
    height: 100vh;
    z-index: 11;
  }
}
