.homepageExams {
          margin: 40px 20px 20px;
          border-bottom: 3px solid;

}

.homeExams-card {
          border: 3px solid #dde4ff;
          border-radius: 5px;
          background-color: #f0f4fc;
          display: flex;
          flex-direction: row;
          text-align: left;
          gap: 20px;
          width: 100%;
          max-height: 85px;
          min-height: 85px;
          padding: 5px;
          position: relative;
          cursor: pointer;
          margin-bottom: 20px;
}


.homeExams-card .img-container,
.homeExams-card .card-info,
.homeExams-card .card-info,
.homeExams-card h1,
.homeExams-card p {
          background-color: transparent;
          color: black;
}

.homeExams-card h1 {
          font-weight: 800;
          font-size: 16px;
}

.homeExams-card p {
          font-size: 13px;

}

.homeExams-card .img-container {
          border-radius: 10px;
          width: 67px;
          height: 67px;
          background-color: #E5EAEE;
          position: relative;
          overflow: hidden;
          padding: 7px;
}

.homeExams-card img {
          background-color: transparent;
          width: 100%;
}